body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#0b1726,#1f3f66);
    width: 90%; /* corpo de texto ocupa 90% da area visivel no navegador */
    margin: 0 auto; /* divide o conteudo de forma proporcional no navegador*/
}

header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    margin-top: 50px;
    border-radius: 5px; /* arredondar cantos */
}

#logo img{ /* "#" quando é id, "." quando é class */
    width: 45%;
    padding-top: 40px;
}

.navegacao{
    overflow: hidden;
}

.navegacao a{ /* altera os links */
    color: rgb(173, 173, 173);
    float: right;
    display: block; 
    text-decoration: none;
    padding: 10px;
    text-align: right;
}

.navegacao a:hover{ /* pseudoclasse, faz alteracoes quando o mouse passa por cima do conteudo */
    color: #e32936; /* muda a cor da fonte */
    background-color: black; /* muda a cor do fundo */
}

.principal{ /* permite que o conteudo fique "flexivel" para manipulacao ocupando uma linha disposto em colunas */
    display: flex; 
    flex-direction: row;
}

.conteudo{ /* altera os tres "conteudo" */
    float: left;
    margin: 15px 2px 25px 2px;
    background-color: gainsboro;
    padding: 15px;
    text-align: justify;
    border-radius: 5px; /* arredondar cantos */
    box-shadow: 10px 10px 10px #08101a98; /* sombra nos cantos */
}

.rodape{
    color: darkgray;
    font-size: 12;
    text-align: center;
    padding: 20px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
    margin: 8px;
}

li{
    float: right;
    margin: 2px;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color:#202020 ;
}

li.dropdownn{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 240px;
    background-color: darkgrey;
    min-width: 100px;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: darkgrey;
}

.dropbtn:hover .dropdown-content{
    display: block;
}