/* BAGE EM GERAL */ 
body 
{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header 
{
  background-color: rgb(63, 189, 119)	;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

main 
{
  padding: 20px;
}

h2 
{
  color: rgb(63, 189, 119);
}
  
form label, form input, form select 
{
  display: block;
  margin: 10px 0;
}

form input, form select, form button 
{
  padding: 10px;
  width: 100%;
}

button 
{
  background-color: rgb(34, 174, 97);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover
{
    background-color: red;
}



/* RESUMO FINANCEIRO */
/* Centralizar os gráficos */
#charts-section 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

canvas 
{
  max-width: 600px;
  width: 100%;
}



/* EDIÇÃO */
/* Estilo para a tabela */
table 
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td 
{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th 
{
  background-color: rgb(63, 189, 119);
  color: white;
}

table tr:nth-child(even) 
{
  background-color: #f2f2f2;
}

table tr:hover 
{
  background-color: #ddd;
}




